.bk {
    background-color: rgb(241, 16, 16);
}

.bk .navbar-brand,
.bk .nav-link {
    color: white;
}

.bk .nav-link:hover {
    color: black;

}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0px;
    top: 45px;
    background-color: rgb(42, 241, 16);
}

.bk .dropdown-item:hover {
    background-color: rgb(241, 230, 16);
    color: rgb(236, 10, 160);
}

.sp-nav {
    position: absolute;
    top: 0px;
    right: -10px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.profile-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    top: 10px;
}