.bk{
    background-color: rgb(241, 16, 16);
}
.bk .navbar-brand, .bk .nav-link {
    color: white;
}
 .bk .nav-link:hover{
    color: black;

}
.dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0px;
    top: 45px;
    background-color: rgb(42, 241, 16);}
    .bk .dropdown-item:hover{
        background-color: rgb(241, 230, 16);
        color: rgb(236, 10, 160);
    }