.bk{
    background-color: aliceblue;
}

.dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0px;
    top: 45px;
    }

.cart-count{
    background-color: rgb(146, 165, 182);
    font-size: 9px;
    position: absolute;
    top: -1px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 17px;
    height: 17px;
}