.cart-icon{
    font-size: 1.5rem;
    color: white;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}


.header {
    background-color: #343a40;
}

.search-bar {
   height: 30px;
   align-items: center;
   padding-top: 30px;
}