.img-caption{
    background-color: #212237;
}

.img-main:hover{
    transform: scale(1.1);
    transition: transform 0.2 ease-in-out;
}

.btn-learn{
    color:white;
    background-color:black;
}

.btn-learn:hover{
    background-color: rgb(122, 122, 122);
    border-color: rgb(122, 122, 122);
}

.line{
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-request:hover{
    color:white;
    background-color: black;
}